<nav class="sidebar">
  <div class="sidebar-logo">
    <img src="assets/carterasmart.png" alt="Logo" class="logo">
  </div>

  <ul class="nav-links">
    <li *ngFor="let link of navLinks" routerLinkActive="active">
      <a [routerLink]="link.path">
        <span class="material-icons">{{ link.icon }}</span>
        <span class="link-text">{{ link.label }}</span>
      </a>
    </li>
    <!-- Opción de cierre de sesión -->
    <li>
      <a (click)="logout()">
        <span class="material-icons">logout</span>
        <span class="link-text">Cerrar sesión</span>
      </a>
    </li>
  </ul>
</nav>
